// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

// Variables you want to modify
$color_rich_black_FOGRA_29: #000814;
$color_oxford_blue: #001d3d;
$color_prussian_blue: #003566;
$color_mikado_yellow: #ffc300;
$color_gold_web_golden: #ffd60a;

@import '~vuetify/src/styles/styles.sass';
